@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}
.hero-img{
    background-image: url('./assets/banner-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.active {
    background-color: #4f46e5 !important;
    color: white !important;
    border: none !important;
}